html, body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > img {
    width: 7.3em;
}

.navbar {
    background-color: #1F3059;
}

#navbar-ex1-collapse .navbar-nav > li > a:hover {
    background-color: #231A3D;
}

#navbar-ex1-collapse .navbar-nav > li:nth-child(2) > a:hover {
    background-color: #438819;
}

.active-sub {
    background-color: #E0E0E0;
}

.navbar-nav .dropdown.open > a[aria-expanded="true"] {
    background-color: #231A3D;
}

.navbar-nav .dropdown.open:nth-child(2) > a[aria-expanded="true"] {
    background-color: #438819;
}

.navbar-nav .dropdown:nth-child(2) > a[aria-expanded="false"] {
    background-color: #438819;
}

nav .fa  {
    font-size: 1em;
    color: #fff;
    margin-right: 7px;
}

.navbar-nav span {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #84B13C;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: #438819;
}

.big {
    font-size: 1.5em;
}

.center {
    display: flex;
    justify-content: center;
}

.project-box-footer {
    margin-bottom: 4em;
}

.container {
    margin-bottom: 10em;
}

tr.collapse.in {
    display:table-row;
  }

.table {
    width: 95%;
    margin: 4em auto;
}

th {
    text-align: center;
}

tr[data-toggle="collapse"] > td:first-child span {
    cursor: pointer;
}

tr > td {
    text-align: center;
}

tr > td.comp, tr > td.sub-comp {
    text-align: left;
}

th:first-child {
    text-align: left;
}

.pupil-title {
    background-color: rgb(255, 176, 139);
}

.teacher-title {
    background-color: rgb(255, 212, 193);
}

figcaption {
    text-align: center;
}

.comp {
    padding-left: 8px;
}

.sub-comp {
    padding-left: 14px;
}

h2 {
    text-align: center;
    font-size: 1.65em;
}

.table caption {
    font-size: 1.8em;
    color: #000;
}

.modal-body p {
    text-indent: 40px;
}